[submodule "vendor/react"]
	path = vendor/react
	url = https://github.com/react/react
[submodule "vendor/alien-signals"]
	path = vendor/alien-signals
	url = https://github.com/stackblitz/alien-signals
[submodule "vendor/react-concurrent-store"]
	path = vendor/react-concurrent-store
	url = https://github.com/thejustinwalsh/react-concurrent-store
